
<% if(data['isGameFound'] != null && data['isGameFound'] == 1){ %>
    <% if(query.categorysearch != null){ %>
        <% if(query.pageNum == null || query.pageNum <= 1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group">
                <a class="btn glass">Page 1</a>
                <a href="/cat/<%- query.categorysearch.replace(' ','-') %>/2" class="btn glass">»</a>
                </div>
        </div>
        <% }else if(query.pageNum>1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group"> 
                <a href="/cat/<%- query.categorysearch.replace(' ','-') %>/<%- (parseInt(query.pageNum)-1) %>" class="btn glass">«</a>
                <a class="btn glass">Page <%- query.pageNum %></a>
                <a href="/cat/<%- query.categorysearch.replace(' ','-') %>/<%- (parseInt(query.pageNum)+1) %>" class="btn glass">»</a>
            </div>
        </div>
        <% } %>
    <% }else if(query.tagsearch != null){  %>
        <% if(query.pageNum == null || query.pageNum <= 1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group">
                <a class="btn glass">Page 1</a>
                <a href="/tag/<%- query.tagsearch.replace(' ','-') %>/2" class="btn glass">»</a>
                </div>
        </div>
        <% }else if(query.pageNum>1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group"> 
                <a href="/tag/<%- query.tagsearch.replace(' ','-') %>/<%- (parseInt(query.pageNum)-1) %>" class="btn glass">«</a>
                <a class="btn glass">Page <%- query.pageNum %></a>
                <a href="/tag/<%- query.tagsearch.replace(' ','-') %>/<%- (parseInt(query.pageNum)+1) %>" class="btn glass">»</a>
            </div>
        </div>
        <% } %>
    <% }else if(query.keyword != null){ %>
        <% if(query.pageNum == null || query.pageNum <= 1){ %>
            <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
                <div class="btn-group">
                    <a class="btn glass">Page 1</a>
                    <a href="/search?q=<%- query.keyword.replace(' ','-') %>&page=2" class="btn glass">»</a>
                    </div>
            </div>
        <% }else if(query.pageNum>1){ %>
            <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
                <div class="btn-group"> 
                    <a href="/search?q=<%- query.keyword.replace(' ','-') %>&page=<%- (parseInt(query.pageNum)-1) %>" class="btn glass">«</a>
                    <a class="btn glass">Page <%- query.pageNum %></a>
                    <a href="/search?q=<%- query.keyword.replace(' ','-') %>&page=<%- (parseInt(query.pageNum)+1) %>" class="btn glass">»</a>
                </div>
            </div>
        <% } %>
    <% }else{ %>
        <% if(query.pageNum == null || query.pageNum <= 1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group">
                <a class="btn glass">Page 1</a>
                <a href="/page-2" class="btn glass">»</a>
                </div>
        </div>
        <% }else if(query.pageNum>1){ %>
        <div class="flex pagination justify-center justify-items-center items-center place-content-center w-full py-4">
            <div class="btn-group"> 
                <a href="/page-<%- (parseInt(query.pageNum)-1) %>" class="btn glass">«</a>
                <a class="btn glass">Page <%- query.pageNum %></a>
                <a href="/page-<%- (parseInt(query.pageNum)+1) %>" class="btn glass">»</a>
            </div>
        </div>
        <% } %>
    <% } %>
  <% } %>